---
layout: page
---

<div id="post">
    <section class="post-header">
        <h1 class="title">Congrats! <br> You earn an Estus Flask!!!</h1>
        <p class="subtitle"> "Prithee be careful." </p>
            <p class="meta">
                — Blacksmith Andre, Dark Souls 3
            </p>

        {{ content }}

        <p>art by <a href="https://t.co/Lo70qecunB?amp=1">Oleg</a></p>

        <div id="estus-flask">
            <a href="{{ site.baseurl }}/" class="return-btn" >
                <p>Click here to continue your journey!</p>
            </a>
        </div>

</div>
